<div class="black-background">
  <div class="container">
    <div class="row footer-block">
      <div class="col-lg-10 col-lg-offset-1">
        <div class="row">
          <div class="col-lg-4">
            <ul class="footer-list">
              <li><a href="#about">Reglas</a></li>
              <li><a href="#about">Contacto</a></li>
              <li>Nombre del organizador</li>
              <p>Pellentesque sit amet arcu quis neque faucibus luctus et nec eros.</p>
            </ul>

          </div>
          <div class="col-lg-4">
          </div>
          <div class="col-lg-4">
            <ul class="footer-icons">
              <li><a href="#"><img src="img/icon-twitter.svg" /></a></li>
              <li><a href="#"><img src="img/icon-facebook.svg" /></a></li>
              <li><a href="#"><img src="img/icon-instagram.svg" /></a></li>
              <li><a href="#"><img src="img/icon-linkedin.svg" /></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
